{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Zamówienie potwierdzone!</h1>
            <p>Powinieneś dostać informację zwrotną na swój email.</p>
            <a href="{% url 'index' %}">Wróć do strony głównej</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">Podsumowanie zamówienia:</h3>
            {% for przedmiot in przedmioty %}
                <p>{{ przedmiot.nazwa }} <span class="pl-3">{{ przedmiot.cena }} zł</span></p>
            {% endfor %}

            <p class="font-weight-bold pt-4">Razem: {{ cena }} zł</p>
        </div>
    </div>

</div>

{% endblock content %}
