{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div >
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for zupa in zupy %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ zupa.obrazek.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="przedmioty[]" class="form-check-input" value="{{ zupa.pk }}">
                                    <label class="form-check-label font-weight-bold">{{ zupa.nazwa }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ zupa.cena }} zł</p>
                            </div>
                            <p>{{ zupa.opis }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for dan in dania_glowne %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ dan.obrazek.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="przedmioty[]" class="form-check-input" value="{{ dan.pk }}">
                                    <label class="form-check-label font-weight-bold">{{ dan.nazwa }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ dan.cena }} zł</p>
                            </div>
                            <p>{{ dan.opis }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for piz in pizza %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ piz.obrazek.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="przedmioty[]" class="form-check-input" value="{{ piz.pk }}">
                                    <label class="form-check-label font-weight-bold">{{ piz.nazwa }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ piz.cena }} zł</p>
                            </div>
                            <p>{{ piz.opis }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for napoj in napoje %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ napoj.obrazek.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="przedmioty[]" class="form-check-input" value="{{ napoj.pk }}">
                                    <label class="form-check-label font-weight-bold">{{ napoj.nazwa }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ napoj.cena }} zł</p>
                            </div>
                            <p>{{ napoj.opis }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>
                <div class="form-group pt-3">
                    <label for="name">Imię i Nazwisko</label>
                    <input required class="form-control" type="text" placeholder="Twoje imię i nazwisko" name="imie"/>
                </div>

                 <div class="form-group pt-3">
                    <label for="name">Adres Email</label>
                    <input required class="form-control" type="text" placeholder="Twój email" name="email"/>
                </div>

                <div class="form-group pt-3">
                    <label for="name">Ulica</label>
                    <input required class="form-control" type="text" placeholder="Lubelska 12" name="ulica"/>
                </div>

                <div class="form-group pt-3">
                    <label for="name">Miasto</label>
                    <input required class="form-control" type="text" placeholder="Lublin" name="miasto"/>
                </div>

                 <div class="form-group pt-3">
                    <label for="name">Kod pocztowy</label>
                    <input required class="form-control" type="text" placeholder="22400" name="kod_pocztowy"/>
                </div>
                <p>*płatność przy odbiorze kartą lub gotówką</p>

                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark bg-success" data-toggle="modal" data-target="#submitModal">
                        Złóż zamówienie!
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="submitModalLabel">Zatwierdź swoje zamówienie!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light bg-success" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-dark bg-success">Złóż zamówienie!</button>
                          </div>
                        </div>
                      </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}